.about
  padding: 24px

.about img
  width: 84px
  height: calc(1.26 * 84px)

  @media (prefers-color-scheme: dark)
    filter: invert(1)

.about h1
  padding-top: 36px
  font-size: 250%
  font-weight: normal
  color: var(--title)

.about strong
  font-weight: bold

.about p
  padding-top: 12px
  line-height: 1.7
