.about
  padding: 1.5vw

.about img
  width: 7vw
  height: calc(1.26 * 7vw)

  @media (prefers-color-scheme: dark)
    filter: invert(1)

.about h1
  padding-top: 3vw
  font-size: 250%
  font-weight: normal
  color: #010100

  @media (prefers-color-scheme: dark)
    color: #fffffe

.about strong
  font-weight: bold

.about p
  padding-top: 1vw
  line-height: 1.7
