:root
  --background: #fffffe
  --text: #1f1f1f
  --title: #010100
  --highlight: #e3f6f5
  --accent: #ffd803

  @media (prefers-color-scheme: dark)
    --background: #16161a
    --text: #bbb
    --title: #fffffe
    --highlight: #1f1f23
    --accent: #7f5af0
