doctype html
html( lang="en" )
  head
    meta( charset="utf-8" )
    title h+h lab
    meta( name="viewport" content="width=device-width" )
    link( rel="shortcut icon" href="/base/32.png" sizes="32x32" )
    link( rel="icon" href="/base/196.png" sizes="196x196" )
    link( rel="icon" href="/base/512.png" sizes="512x512" )
    link( rel="mask-icon" href="/about/logo.svg" color="#ffd803" )
    link( rel="apple-touch-icon" href="/base/apple.png" )
    link( rel="stylesheet" href="/index.sss" )
    meta( name="description" content="How to make Internet better place?" )
  body
    .layout
      .about
        img( src="./about/logo.svg" )
        h1 #[strong h+h] lab
        p How to make Internet better place?
      .list.is-projects
        h2 Projects
        ul
          li
            a( href="#" )
              h3
                mark Principles
              p The way to do it better
      .list
        h2 Links
        ul
          li
            a( href="https://twitter.com/hplushlab/" rel="me" )
              h3 News
              mark twitter.com/hplushlab
          li
            a( href="https://github.com/hplush/" rel="me" )
              h3 Code
              mark github.com/hplush
          li
            a( href="mailto:andrey@sitnik.ru" rel="me" )
              h3 Contact
              mark andrey@sitnik.ru
