doctype html
html( lang="en" itemtype="https://schema.org/Person" itemscope )
  head
    meta( charset="utf-8" )
    title h+h lab
    meta( name="viewport" content="width=device-width" )
    link( rel="shortcut icon" href="./base/32.png" sizes="32x32" )
    link( rel="icon" href="./base/196.png" sizes="196x196" )
    link( rel="icon" href="./base/512.png" sizes="512x512" )
    link( rel="apple-touch-icon" href="./base/apple.png" )
    style @import "./index.sss"
    meta( name="description" content="How to make Internet better place?" )
  body
    .layout
      .about
        img( src="./about/logo.svg" itemprop="logo" alt="h+h lab logo" )
        h1( itemprop="name" ) #[strong h+h] lab
        p The lab to create urbanism for the modern Web. We are building tools for users and practices for website authors to make public spaces better.
      .list.is-projects
        h2 Projects
        ul
          li
            a( href="https://github.com/hplush/hplu.sh/blob/master/ethical.md" )
              h3
                mark Ethical Standard
              div Rules to make ethical web services
      .list
        h2 Links
        ul
          li
            a( href="https://twitter.com/hplushlab/" itemprop="sameAs" rel="me" )
              h3 News
              mark twitter.com/hplushlab
          li
            a( href="https://github.com/hplush/" itemprop="sameAs" rel="me" )
              h3 Code
              mark github.com/hplush
          li
            a( href="mailto:hi@hplu.sh" itemprop="email" )
              h3 Contact
              mark hi@hplu.sh
