@font-face
  font-family: 'Encode Sans Semi Expanded'
  font-display: swap
  src: url(regular.woff2) format('woff2')

@font-face
  font-family: 'Encode Sans Semi Expanded'
  font-weight: bold
  font-display: swap
  src: url(bold.woff2) format('woff2')
