html
  color-scheme: light dark
  font-family: 'Encode Sans Semi Expanded', sans-serif
  font-size: 1.5vw

  @media (width < 1000px)
    font-size: 16px

*
  padding: 0
  margin: 0

body
  line-height: 1
  color: var(--text)
  background: var(--background)
  -webkit-tap-highlight-color: rgba(#000, 0)
  overscroll-behavior-y: none

*:focus
  outline: none

a[href],
button
  &::-moz-focus-inner
    border: 0

::selection
  color: var(--title)
  background: var(--accent)
