name: Deploy
on:
  push:
    branches:
      - main
permissions:
  contents: read
  id-token: write
env:
  PROJECT_ID: hplushdev-421120
  REGION: europe-west1
  IDENTITY: 878858292866
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: pnpm
      - name: Install build dependencies
        run: pnpm install --production
      - name: Compile Markdown
        run: pnpm build
      - name: Auth Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: projects/${{ env.IDENTITY }}/locations/global/workloadIdentityPools/github/providers/hplush
          service_account: github-deploy@${{ env.PROJECT_ID }}.iam.gserviceaccount.com
      - name: Install Google Cloud
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
      - name: Auth Docker
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet
      - name: Build Docker image
        run: docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/website/website:latest .
      - name: Push Docker image
        run: docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/website/website:latest
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy website \
            --project ${{ env.PROJECT_ID }} \
            --image ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/website/website:latest \
            --region ${{ env.REGION }} \
            --allow-unauthenticated \
            --service-account github-deploy@${{ env.PROJECT_ID }}.iam.gserviceaccount.com
      - name: Move traffic to new revision
        run: |
          gcloud run services update-traffic website \
            --project ${{ env.PROJECT_ID }} \
            --region ${{ env.REGION }} \
            --to-latest
      - name: Delete previous images
        run: |
          untagged=$(gcloud artifacts docker images list $REGION-docker.pkg.dev/$PROJECT_ID/website/website --include-tags --format="get(version)" --filter="tags = ''")
          for digest in $untagged; do
            image=$REGION-docker.pkg.dev/$PROJECT_ID/website/website@$digest
            echo "Deleting unused image: $image"
            gcloud artifacts docker images delete $image --quiet
          done
