name: Deploy
on:
  push:
    branches:
      - main
permissions:
  contents: read
  id-token: write
  packages: write
concurrency:
  group: web
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: pnpm
      - name: Install build dependencies
        run: pnpm install --production
      - name: Compile Markdown
        run: pnpm build
      - name: Build Docker image
        run: docker build -t ghcr.io/hplush/hplush.dev:latest .
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push Docker image
        run: docker push ghcr.io/hplush/hplush.dev:latest
      - name: Trigger Dokploy Deployment
        run: |
          curl --fail -X 'POST' \
          'https://cloud.hplush.dev/api/application.deploy' \
          -H 'Accept: application/json' \
          -H 'X-API-Key: ${{ secrets.DOKPLOY_TOKEN }}' \
          -H 'Content-Type: application/json' \
          -d '{
            "applicationId": "hplushdev-web-8ph1sl"
          }'
      - name: Clean previous images
        uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 # v1.0.16
        with:
          package: hplush.dev
          owner: hplush
          delete-untagged: true
          token: ${{ secrets.GITHUB_TOKEN }}
